.content {
  display: flex;
  padding: 25px 0;
}

.dialogs {
  width: 25%;
  padding-left: 40px;
  border-right: 1px solid lightskyblue;
  box-sizing: border-box;
}

.messages {
  width: 75%;
  padding-left: 40px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 350px;
    overflow-y: auto;
  }

  &__form {
    display: flex;

    textarea {
      min-width: 300px;
    }
  }
}
