.message {
  margin-bottom: 20px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  position: relative;
  max-width: 80%;
}

.messageSended {
  align-self: flex-end;
  padding-left: 22px;
}

.messageRecieved {
  padding-right: 22px;
}


.messageItem {
  padding: 9px 15px;
  border-radius: 10px;

  .messageSended & {
    background: #5F658B;
    border-top-right-radius: 0;
  }

  .messageRecieved & {
    background: rgba(#646772, 0.8);
    border-top-left-radius: 0;
  }

  .messageInactive & {
    background: #eee;
    color: grey;
    font-size: 12px;
  }
}

.viewedIcon {
  position: absolute;
  bottom: 2px;
  height: 12px;

  .messageRecieved & {
      left: 5px;
  }

  .messageSended & {
      right: 5px;
  }

  .messageInactive & {
    display: none;
  }
}

.messageIcon {
  max-width: 15px;
  max-height: 15px;
  opacity: 0.5;
}

.delete,
.spam,
.restore {
  width: 20px;
  height: 20px;
  position: absolute;
  background: transparent;
  padding: 2px;
  box-sizing: border-box;
  border: none;
  display: flex;
  align-items: center;

  .messageRecieved &  {
    right: 0;
  }

  .messageSended &  {
    left: 0;
  }

  &:hover {
    .messageIcon {
      opacity: 1;
    }
  }
}

.delete {
  top: 0;
}

.restore {
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.spam {
  top: 20px;
}

.date {
  position: absolute;
  bottom: -11px;
  font-size: 9px;
  color: #5F658B;
  letter-spacing: -0.4px;

  .messageRecieved &  {
    right: 30px;
  }

  .messageSended &  {
    left: 30px;
  }
}
