.dialog {
  &:not(:last-of-type) {
    border-bottom: 1px solid #eeeeee;
  }
}

.active {
  background: #efefef;
}

.newMessages {
  background: #ab003c;
  color: #ffffff;
  height: 20px;
  display: flex;
  padding: 0 6px;
  z-index: 1;
  position: absolute;
  flex-wrap: wrap;
  font-size: 11px;
  min-width: 20px;
  box-sizing: border-box;
  align-items: center;
  font-weight: 500;
  line-height: 1;
  align-content: center;
  border-radius: 10px;
  flex-direction: row;
  right: 5px;
}

.date {
  font-size: 12px;
}