.form {
  max-width: 600px;
  margin: 50px auto;
  font-size: 15px;

  &__group_inline {
    flex-direction: row;
    align-items: center;
    width: 100%;

    label {
      width: 25%;
      margin-bottom: 0;
    }

    input, textarea {
      width: 75%;
    }

    &__btns {
      margin-left: 25%;
    }
  }

  &__group_checkbox {
    input, label {
      //width: auto;
    }

    input {
      width: auto;
    }
  }

  &__btns {
    width: 75%;
    margin-left: 25%;
    display: flex;
    justify-content: space-around;

    button {
      width: 45%;
    }
  }

  &__error {
    color: red;
    font-size: 12px;
    margin: 20px 0;
  }
}
