.form {
  font-size: 16px;
  max-width: 400px;
  margin: 20px auto;

  &__group_inline {
    flex-direction: row-reverse;
    margin-bottom: 15px;
    justify-content: flex-end;
  }

  &__label {
    margin-bottom: 10px;
  }

  &__btns {
    display: flex;
    justify-content: space-between;

    button {
      width: 48%;
      padding: 14px 10px;
    }
  }
}

.captcha {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;

  & > * {
    width: 48%;
    margin-bottom: 0;

  }
}

.error {
  margin-top: 20px;
}