.dialog {
  margin-bottom: 10px;

  &__link {
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  &__photo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
    min-height: 40px;
    min-width: 40px;
  }
}

.active {
  color: #5F658B;
  text-decoration: underline;
}