.photo {
  width: 100%;
  display: flex;

  &__img {
    width: 300px;
    height: 300px;
    img {

        width: 100%;
        object-fit: cover;
        object-position: 0 0;
    }
  }

  &__load {
      padding-left: 20px;

    form {
      display: flex;
      flex-direction: column;

      button {
        margin-top: 20px;
      }
    }
  }
}
