$theme-color: lightsteelblue !default;

.nav {
  grid-area: n;
  padding: 40px 20px;
  background: $theme-color;

  &__item {
    margin-bottom: 10px;
  }

  &__link {
    font-size: 18px;
    text-decoration: none;
    color: #333;

    &:hover,
    &.active {
      color: red;
      text-decoration: underline;
    }
  }
}