.message {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  max-width: 80%;
  display: flex;
  align-items: flex-end;
}

.messageSended {
  align-self: flex-end;
  padding-left: 22px;
  flex-direction: row-reverse;
}

.avatar {
  .messageSended & {
    margin-left: 10px;
  }

  .messageRecieved & {
    margin-right: 10px;
  }
}

.messageRecieved {
  padding-right: 22px;
}


.messageItem {
  font-size: 0.9rem;
  padding: 9px 15px;
  border-radius: 10px;

  .messageSended & {
    background: #3d4977;
    color: #fff;
    border-bottom-right-radius: 0;
  }

  .messageRecieved & {
    background: #efefef;
    border-bottom-left-radius: 0;
  }

  .messageInactive & {
    background: #eee;
    color: grey;
    font-size: 12px;
  }
}

.viewedIcon {
  position: absolute;
  bottom: 2px;
  height: 12px;

  .messageRecieved & {
      left: 55px;
      filter: invert(0.5);
  }

  .messageSended & {
      right: 55px;
  }

  .messageInactive & {
    display: none;
  }
}

.messageIcon {
  max-width: 17px;
  max-height: 17px;
  opacity: 0.5;
}

.delete,
.spam,
.restore {
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: absolute;
  background: transparent;
  padding: 2px;
  box-sizing: border-box;
  border: none;
  display: flex;
  align-items: center;

  .messageRecieved &  {
    right: 0;
  }

  .messageSended &  {
    left: 0;
  }

  &:hover {
    .messageIcon {
      opacity: 1;
    }
  }
}

.delete {
  top: 0;
}

.restore {
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.spam {
  top: 20px;
}

.date {
  position: absolute;
  bottom: -20px;
  font-size: 12px;
  color: #b2b2b2;
  letter-spacing: -0.4px;
  white-space: nowrap;

  .messageRecieved &  {
    left: 50px;
  }

  .messageSended &  {
    right: 50px;
  }
}
