.form {
  font-size: 16px;
  max-width: 400px;
  margin: 20px auto;

  &__group_inline {
    flex-direction: row-reverse;
    margin-bottom: 15px;
    justify-content: flex-end;
  }

  &__label {
    margin-bottom: 10px;
  }

  &__btns {
    display: flex;
    justify-content: space-around;

    button {
      font-size: 14px;
      width: 40%;
    }
  }

  &__error {
    color: red;
    font-size: 12px;
    margin-bottom: 20px;
  }
}