.post {
  margin-top: 15px;

  font-size: 18px;
  font-weight: 600;

  &__avatar {
    margin-right: 10px;
    max-width: 40px;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__likes {

  }
}